:is(a, button, input, textarea, summary) {
  --outline-color: black;
  --outline-offset: 5px;
  --outline-size: max(3px, 0.08em);
  --outline-style: dotted;
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a):hover {
  color: white;
  background: black;
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  :focus,
  :hover {
    transition: outline-offset 0.25s ease;
  }
}
